<telegraph binding="late">
  <!--Required Fields-->
  <directive action="require" field="firstname" error="Please enter your first name." />
  <directive action="require" field="lastname" error="Please enter your last name."/>
  <directive action="require" field="email" format="email" error="Please enter your email."/>
  <directive action="require" field="input_registration" error="Please indicate whether you are registering as a student."/>
  <directive action="require" field="input_address_state" error="Please enter your state or N/A."/>
  <directive action="require" field="input_address_country" error="Please select your country."/>
  <directive action="require" field="email" format="email" error="Please enter your email."/>
  <directive action="require" field="input_role" error="Please enter your role (faculty, postdoc, etc.)."/-->
  <directive action="require" field="input_registration" error="Please select your BUCLD registration type."/>
  <directive action="require" field="input_generation" error="Please select whether you are a first-generation college student or check that you prefer not to respond.."/>
  <directive action="require" field="input_ethnicity" error="Please specify ethnicity or check prefer not to respond."/>
  <directive action="require" field="input_race" error="Please specify race or check prefer not to respond."/>
  <directive action="require" field="input_gender" error="Please specify gender or check prefer not to respond."/>
  <directive action="require" field="input_disability" error="Please specify whether you identify as having a disability or choose prefer not to respond."/>
  <!--notification and receipt templates default to on-site versions.  Overridden later for pre-registration-->
  <directive action="field" name="receipt_template" value="receipt.txt" />
  <directive action="field" name="notification_template" value="notification.txt" />
  <!--New (computed) Fields-->
  <directive action="field" name="individual_events_list" value="[list:input_individual_events]" />
  <directive action="field" name="input_race_list" value="[list:input_race]" />
  <directive action="field" name="input_gender_list" value="[list:input_gender]" />
  <directive action="field" name="date-and-time" value="[timestamp:date] - [timestamp:time]" />
  <directive action="field" name="event_quantity" value="0" />
  <!--Event Quantity-->
  <!--We need to account for every permutation individually, no smart sums here-->
  <!--Values here must exactly match text on form (also goes on receipts)-->
  <!--Individual events price per, really just done for display on receipts, it is computed again later for summing-->
  <directive action="field" name="individual_events_price" value="[if?:input_status==Student registration:10:25]" />
  <!--Event Quantity: single events-->
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote" target_field="event_quantity" target_value="1"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium" target_field="event_quantity" target_value="1"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Plenary Address" target_field="event_quantity" target_value="1"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Sunday Symposium" target_field="event_quantity" target_value="1"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Single Session" target_field="event_quantity" target_value="1"/>
  <!--Event Quantity: pairs of events-->
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Plenary Address" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Sunday Symposium" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Single Session" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Saturday Plenary Address" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Sunday Symposium" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Single Session" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Plenary Address, Sunday Symposium" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Plenary Address, Single Session" target_field="event_quantity" target_value="2"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Sunday Symposium, Single Session" target_field="event_quantity" target_value="2"/>
  <!--Event Quantity: triples of events-->
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Saturday Plenary Address" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Sunday Symposium" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Single Session" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Plenary Address, Sunday Symposium " target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Plenary Address, Single Session" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Saturday Plenary Address, Sunday Symposium" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Saturday Plenary Address, Single Session" target_field="event_quantity" target_value="3"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Plenary Address, Sunday Symposium, Single Session" target_field="event_quantity" target_value="3"/>
  <!--Event Quantity: quadruples of events-->
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Saturday Plenary Address, Sunday Symposium" target_field="event_quantity" target_value="4"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Saturday Plenary Address, Single Session" target_field="event_quantity" target_value="4"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Sunday Symposium, Single Session" target_field="event_quantity" target_value="4"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Plenary Address, Sunday Symposium, Single Session" target_field="event_quantity" target_value="4"/>
  <directive action="conditional-field" source_field="individual_events_list" source_value="Saturday Symposium, Saturday Plenary Address, Sunday Symposium, Single Session" target_field="event_quantity" target_value="4"/>
  <!--Event Quantity: all events-->
  <directive action="conditional-field" source_field="individual_events_list" source_value="Friday Keynote, Saturday Symposium, Saturday Plenary Address, Sunday Symposium, Single Session" target_field="event_quantity" target_value="5"/>
  <!--reset receipt and notification templates if one of the Pre-Registration options was used-->
  <directive action="conditional-field" source_field="input_registration" source_value="General Preregistration - $195.00" target_field="receipt_template" target_value="receipt-prereg.txt"/>
  <directive action="conditional-field" source_field="input_registration" source_value="Student Preregistration - $100.00" target_field="receipt_template" target_value="receipt-prereg.txt"/>
  <directive action="conditional-field" source_field="input_registration" source_value="Postbacc Trainee Preregistation - $160.00" target_field="receipt_template" target_value="receipt-prereg.txt"/>
  <directive action="conditional-field" source_field="input_registration" source_value="Not Attending BUCLD Events - $0.00" target_field="receipt_template" target_value="receipt-prereg.txt"/>
  <directive action="conditional-field" source_field="receipt_template" source_value="receipt-prereg.txt" target_field="notification_template" target_value="notification-prereg.txt"/>
  <!--Calculate Total Price-->
  <!--BUCLD Registration categories-->
  <directive action="sum" add="[if?:input_registration==General Preregistration - $270.00:270:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Student Preregistration - $165.00:165:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Postbacc Trainee Preregistation - $230.00:230:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==General Registration - $300.00:300:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Student Registration - $195.00:195:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Postbacc Trainee Registation - $260.00:260:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==General One Day Registration - $180.00:180:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Student One Day Registration - $115.00:115:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==Postbacc Trainee One Day Registation - $155.00:155:0]" total="total"/>
  <directive action="sum" add="[if?:input_registration==No BUCLD conference registration - $0.00:0:0]" total="total" />
  <!--Individual events-->
  <directive action="sum" add="[if?:input_status==Student registration:20:0]" quantity="[event_quantity]" total="total"  />
  <directive action="sum" add="[if?:input_status==General registration:35:0]" quantity="[event_quantity]" total="total" />
  <directive action="sum" add="[if?:input_status==Postbacc Trainee registration:35:0]" quantity="[event_quantity]" total="total"  />
  <!--SLD registration categories-->
  <directive action="sum" add="[if?:input_sld==General - $20.00:20:0]" total="total"/>
  <directive action="sum" add="[if?:input_sld==Student - $10.00:10:0]" total="total"/>
  <directive action="sum" add="[if?:input_sld==Not attending the SLD Symposium on Thursday - $0.00:0:0]" total="total"/>
  
  <directive special="nelnet" amount="[total:total]" order_type="CONF27"/>
  <!--File - update by deleting file with test data on server before launch-->
  <directive action="file" filename="results[timestamp:YYYY].csv" format="csv" fields="firstname,lastname,email,input_affiliation,input_twitter,input_registration,input_select_day,individual_events_list,input_student_workshop_thursday,input_student_pizza_lunch,input_sld,input_address_state,input_address_country,input_role,input_generation,input_ethnicity,input_race_list,input_disability,input_disability_status,input_gender_list,input_sign_language_interpreter,input_access_needs,input_comments,date-and-time" />
  <!--Email Receipt/Notification - update to full distribution list before launch-->
  <directive action="email" to="parisgap@bu.edu,jkellogg@bu.edu,hayat777@bu.edu,berengersk8@icloud.com,langconf@bu.edu" from="langconf@bu.edu" subject="BUCLD 47 Registration Notification" template="[notification_template]">
  <directive action="email" to="[email],langconf@bu.edu" from="langconf@bu.edu" subject="BUCLD 47 Registration Receipt" template="[receipt_template]" />
  <!--Redirect Thank You Page-->
  <directive action="redirect" href="http://www.bu.edu/bucld/conference-info/registration/online/thanks/" />
</telegraph>

